<div class="row">
  <div class="col-lg-2">
    <%= render 'layouts/sidenav' %>
  </div>

  <div class="col-lg-10 text-center padding-50">
    <h1 class="text-center admin-header">Edit Service</h1>
    <%= render 'form' %>
  </div>
</div>