<div class="row">
  <div class="col">
    <div class="modal fade" id="consentModal" tabindex="1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Disclosures/Statement Information</h5>
            <button type="button" class="close" data-dismiss="modal" arial-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p> I authorize <strong>L.A.B. /Lash and Brow Lounge</strong>, to perform the Lash Lift procedure and or to have an eyelash lift (perm) and/or eyelash tint applied to my natural eyelashes and/or retouched. By consenting to this agreement.</p>
            <ul>
              <li>I understand that the lashes will be curled with an advanced solution and a conditioning cream.</li>
              <li>I understand and consent to having my eyes closed and covered for the duration of the 45-60 minute procedure.</li>
              <li>I understand there are risks associated with having an eyelash perm and/or eyelash tint. I further understand that as part of the procedure, eye irritation, eye pain, eye itching, discomfort, and in rare cases eye infection or blurriness could occur. I agree that if I experience any of these medical conditions with my lashes that I will contact my technician and consult a physician at my own expense.</li>
              <li>I understand that even though my technician perms the lashes using the proper technique, the instruments, tapes, cleaners, eye gel pads, adhesives, and removers used may irritate my eyes or require a physician’s follow-up care.</li>
              <li>I understand that if at any time I (or the esthetician) are uncomfortable with the Lash Lift treatment, I will inform the esthetician and she will gladly rectify the problem, including ending the session.</li>
              <li>I understand there are no guarantees, warranties, promises, commitments or refunds and acknowledge that I have no particular representation or guarantees, and I am consenting to the <strong>L.A.B. /Lash and Brow Lounge</strong> Lash Lift at my own risk.</li>
              <li>I understand that all conditions must be revealed or disclosed by me to my esthetician regarding health history, medications being taken and any past reactions to products used.</li>
              <li>I herein signed, release, give up, acquit and discharge <strong>L.A.B. /Lash and Brow Lounge</strong> and or anyone affiliated there to including any partnership, corporations or company associated with said individual from any claims or damages of any nature.</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
