@font-face {
  font-family: 'Ionicons';
  src:font-url('ionicons.eot');
  src:font-url('ionicons.woff') format('woff'),
    font-url('ionicons.svg') format('svg'),
    font-url('ionicons.ttf') format('truetype');
}