.btn-prev, .btn-next {
  height: 40px !important;
  line-height: 40px !important;
}

.progress {
  height: 30px;
}

.wizard-actions {
  z-index: 1000;
  right: 0;
  top: 0;
  line-height: 46px;
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: middle;
  background-color: #e6e6e6;
  border-left: 1px solid #d4d4d4;
  border-radius: 0 4px 0 0;
  position: absolute !important;
}

.consent-label {
  display: block;
}

#disclosureLink {
  text-decoration: underline !important;
}

@media (max-width: 767px) {
  .steps-container ul li { 
    display: none;
  }
  .wizard-actions {
    width: 100%;
    position: relative !important;
    text-align: right;
  }
}