.btn-prev, .btn-next {
  height: 40px !important;
  line-height: 40px !important;
}

.progress {
  height: 30px;
}

.wizard-actions {
  position: absolute;
}

.consent-label {
  display: block;
}

#disclosureLink {
  text-decoration: underline !important;
}

@media (max-width: 767px) {
  .steps-container ul li { 
    display: none;
  }
  .wizard-actions {
    width: 100%;
    position: relative !important;
    text-align: right;
  }
}