<div class="row">
  <div class="col-lg-2">
    <%= render 'layouts/sidenav' %>
  </div>

  <div class="col-lg-10">
    <div>
      <%= link_to 'Logout', destroy_user_session_path, method: 'delete', class: 'float-right' %>
    </div>
    <h1 class="text-center">Admin Dashboard</h1>
      <% if notice %>
        <p><%= notice %></p>
      <% end %>
  </div>
</div>